[submodule "PokeD.Core"]
	path = PokeD.Core
	url = https://github.com/PokeD/PokeD.Core.git
	branch = master
[submodule "PokeD.SCON"]
	path = PokeD.SCON
	url = https://github.com/PokeD/PokeD.SCON.git
	branch = master
[submodule "Aragas.Core"]
	path = Aragas.Core
	url = https://github.com/Aragas/Aragas.Core.git
